body {
  background-color: #0c0e0f;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
}

h1 {
  color: #F4A261;
}

#page-container {
  max-width: 900px;
  width: 100%;
  padding: 1em 1.5em;
}

p {
  color: #E9C46A;
  opacity: 0.8;
}

.poll-container {
  border : 2px solid #0d3747;
  border-radius: 0.25em;
  margin-bottom: 1em;
  color: #E76F51;
}

.poll-question {
  padding:1em;
  text-align: center;
}

.poll-options-container {
  display:flex;
  justify-content:space-between;
}
.option {
  text-align:center;
  padding: 1em;
  border: 2px solid #0d3747;
  cursor:pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 50%;
  border-bottom-width: 0;
  border-left-width: 0;
  position: relative;
  transition: width 300ms;
}

.option-0 {

}

.option-1 {
 border-right-width: 0;
}

.loading {
    width: 20px;
    height: 20px;
    border: 2px solid #FFF;
    border-bottom-color: #F4A261;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: absolute;
    right: 2%;
    
}

@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}