body {
  background-color: #0c0e0f;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
}

h1 {
  color: #F4A261;
}

#page-container {
  max-width: 900px;
  width: 100%;
  padding: 1em 1.5em;
}

p {
  color: #E9C46A;
  opacity: 0.8;
}

.poll-container {
  border : 2px solid #0d3747;
  border-radius: 0.25em;
  margin-bottom: 1em;
  color: #E76F51;
}

.poll-question {
  padding:1em;
  text-align: center;
}

.poll-options-container {
  display:flex;
  justify-content:space-between;
}
.poll-options-container > div {
  text-align:center;
  flex:1;
  padding: 1em;
  border: 1px solid #0d3747;
  cursor:pointer;
}